.myclass1{
    background: skyblue;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25;
    margin-top: 10px;
}